#main-banner .banner-item {
    position: relative;
}
#main-banner .banner-item {
    position: relative;
}
.banner-item {
    height: 435px;
    padding-top: 64px;
    background-position: center;
    background-repeat: no-repeat;
}
.banner {
    background-repeat: no-repeat;
    display: block;
}